body {
      background:url(https://res.cloudinary.com/dn6ricjvz/image/upload/v1635302756/Fjallraven_pme9iv.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;
}

* {
  color: White !important;
}